.container {
    display: flex;
    justify-content: center;
    background-color: white;
    margin: auto;
    flex-direction: column;


    width: 80%;
    height: 100%;
    font-family: cursive;
}

body {
    width: 100%;
    box-sizing: border-box;
    height: 70%;
    margin-top: 5%;
}

.form-box1{
    width: 50%;
    margin: auto;
    padding-right: 1%;

}
.form-box2{
    width: 50%;
    margin: auto;
    padding-left: 1%;
    position: relative;
    bottom: 7px;
}
#category-form {

    /* position: relative;
    top: 20px; */
}

#image-form {

    /* position: relative;
    top: 23px; */

}
#instructions-form, #ingredients-form, #measures-form {
    height: 80px;

}
#instructions-form {
    position: relative;
    bottom: 1px
}
#measures-form, #ingredients-form{
    position: relative;
    bottom: 5px;
}

textarea {

    resize: none;
  }

.create-button {
    position:absolute;
    bottom: 22%;
    color: white;


    font-family: cursive;
    border-radius: 50%;
    font-size: 1.5em;
    height: 100px;
    width: 100px;
    border-color: #c99c31;
    background-color: black;
    margin: auto;
    opacity: 70%;
    transition: 1.5s;
}



.create-button:enabled {
    background-clip:content-box;

  cursor:pointer;

	  color: black;
	  background-image: url('src/assets/images/photo-1589517628174-5698bcf47311.avif');
    background-size: 500px 500px;
    background-repeat: no-repeat;
    box-shadow: 0 0 2px 2px#c99c31;
    opacity: 100%;

}

form {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 4%;

}

h1 {
    font-family: cursive;
    text-align: center;
    font-size: 4rem;
    color: black;

}


.form-fields {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: cursive;

}


mat-label {
    font-family: cursive;
}

.error-msg {
    color: red;
    font-size: 0.8rem;
    opacity: 80%;
    font-family: cursive;
}

.checkbox{
    /* margin-bottom: 5%; */
    font-family: cursive;
}

