.container {
    display: flex;
    align-items: center;
    
}
div {
    display: flex;
    flex-direction: column;
}

form {
    margin-top: 10%;
    width: 50%;
}

body {
    /* background-image: url('src/assets/images/edward-howell-rdJhMyb4Yuc-unsplash.jpg');
    background-position: center center; 
    background-size: cover;
    background-repeat: no-repeat; */
   
}

label {
    color: white;
}

.submit-button {
    background-color: white;
}

