<body>
    

<div class="container">
    <form (ngSubmit)="createCocktail()" [formGroup]="createForm">
      <div>
        <input type="text" placeholder="Name..." [formControl]="nameInput" />
        <p class="error-msg" *ngIf="nameInput.invalid && nameInput.touched">
          Name error.....
        </p>
      </div>
      <div>
        <select [formControl]="categoryInput">
          <option value="" invalid>Select a category</option>
          <option *ngFor="let category of categories" [value]="category">
            {{ category | titlecase }}
          </option>
        </select>
        <p class="error-msg" *ngIf="categoryInput.invalid && categoryInput.touched">
          Category error.....
        </p>
      </div>
      <div>
        <input type="text" placeholder="Image Url..." [formControl]="imageInput" />
        <p class="error-msg" *ngIf="imageInput.invalid && imageInput.touched">
          Image error.....
        </p>
      </div>
      <div>
        <textarea type="text" placeholder="Instructions..." [formControl]="instructionsInput"></textarea>
        <p
          class="error-msg"
          *ngIf="instructionsInput.invalid 
                  && instructionsInput.touched"
        >
          Instructions error.....
        </p>
      </div>
      
      <div>
        <label for="alcoholic">Alcoholic</label>
        <input id="alcoholic" type="checkbox"  [formControl]="alcoholicInput" />
      </div>
      <div>
        <label for="ingredients">Ingredients</label>
        <textarea name="ingredients" cols="30" rows="10" placeholder="First Ingredient...&#10;Second Ingredient..." [formControl]="ingredientInput"></textarea>
        <p class="error-msg" *ngIf="ingredientInput.invalid && ingredientInput.touched">
          Ingredient error.....
        </p>
      </div>
      <div>
        <label for="measures">Measures</label>
        <textarea type="text" cols="30" rows="10" placeholder="First Measure...&#10;Second Measure..." [formControl]="measureInput"></textarea>
        <p class="error-msg" *ngIf="measureInput.invalid && measureInput.touched">
          Measures error.....
        </p>
      </div>
      
      <button class="submit-button" type="submit" [disabled]="createForm.invalid" mat-button color="warn">Create</button>

    </form>
  </div>

</body>