<!-- 
<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div>
        <input type="text" placeholder="Name..." formControlName="name" />
        <p class="error-msg" *ngIf="nameInput.invalid && nameInput.touched">
          Name error.....
        </p>
      </div>
      <div>
        <input type="text" placeholder="Email..." formControlName="email" />
        <p class="error-msg" *ngIf="emailInput.invalid && emailInput.touched">
          Email error.....
        </p>
      </div>
      <div>
        <input type="number" placeholder="Age..." formControlName="age" />
        <p class="error-msg" *ngIf="ageInput.invalid && ageInput.touched">
          Age error.....
        </p>
      </div>
      <div>
        <input type="text" placeholder="Password..." formControlName="password" />
        <p
          class="error-msg"
          *ngIf="passwordInput.invalid 
                  && passwordInput.touched"
        >
          Password error.....
        </p>
      </div>
      <div>
        <select formControlName="role">
          <option value="" invalid>Select a gender</option>
          <option *ngFor="let role of roles" [value]="role">
            {{ role | titlecase }}
          </option>
        </select>
        <p class="error-msg" *ngIf="roleInput.invalid && roleInput.touched">
          Role error.....
        </p>
      </div>
      <button type="submit" [disabled]="registerForm.invalid">Submit</button>
    </form>
  </div> -->