<header>
    <div class="logo"></div>
    <h1 class="title-header">A sip of Joy... </h1>
</header>
<div class="create-drink-box">
    <div class="text-box">
        <h1>Creating...</h1>
        <p>Let's prepare a new drink....</p>
        <button class="create-button" (click)="create()">Create</button>
    </div>
    <a routerLink="cocktails/create" class="image-box"></a>        
</div >
<div class="separation-barline"></div>


<div class="box-scroll">
    <div class="random-drink-container"  *ngIf="drink$ | async as drink">
        <div class="random-drink-text">
            <h2 class="scoll-title">Have you ever tried...</h2><br>
            <h3 class="drink-name">{{drink.name}}?</h3>
            <!-- <p class="p-scroll">Check it out...</p> -->
        </div>
        
        <div class="waitress"></div>
        
        <a [routerLink]="['cocktails', drink.id]">
            <img class="scroll-main-img" [src]="drink.image" [alt]="drink.name">
        </a>
        
    </div>

    <app-scroll-list></app-scroll-list>
</div>



