<header>

    <h1 class="title-header">Lorem Ipsum... </h1>
</header>
<div class="create-drink-box">
    <div class="text-box">
        <h1>Something...</h1>
        <p>Let's create a new drink....</p>
        <button>Create</button>
    </div>
    <a routerLink="cocktails/create" class="image-box"></a>        
</div >
<!-- <section >
    <div class="random-drink-container"  *ngIf="drink$ | async as drink">
        <h2>{{drink.name}}</h2>
        <a [routerLink]="['cocktails', drink.id]">
            <img  [src]="drink.image" [alt]="drink.name">
        </a>
    </div>
</section> -->
<!-- <div>
    <img [src]="cocktail?.image" alt="">
</div> -->

<app-scroll-list  (getCocktail)="cocktail"></app-scroll-list>

