header {

    background-image: url('src/assets/images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    /* box-shadow: 0 0 12px 15px black inset; */
    box-shadow: 15px -30px 100px 20px black inset;
}
.separation-barline {
    width: 30%;
    height: 5%;
    margin: auto;
    background-image: url('src/assets/images/Separation bar (1).png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    
}
.title-header {
    margin-left: 5%;
    color: #c99c31;
    position:relative;
    bottom: 11%;
    transition: 1s;
}



.box-scroll {
    display:flex;
    justify-content: center;
    padding: 10%;
    margin-top: -10%;
  
    
}
.random-drink-text {
    
    color: #c99c31;
}
.random-drink-text h2 {
    line-height: 1.5;
   
}

.random-drink-text h3{
    line-height: 1.5;
    
    
}

.drink-name {
    color: white;
    font-family: cursive;
    font-size: 2.5rem;
    margin-top: -5%;
    transition: 1s;
    background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('src/assets/images/photo-1589517628174-5698bcf47311.avif');

    background-size: 350px 400px;
    background-repeat: no-repeat;
    


}
.drink-name:hover{
    text-shadow: 19px 72px 3px lightgray;

}

.random-drink-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.random-drink-container h2{
    font-family: cursive;
    font-size: 4rem;
    text-shadow: 1px 5px 7px 0px #c99c31;
    transition: 1s;
}




.scroll-main-img {
    transition: 0.5s;
    box-shadow: 0px 0px 10px 2px #c99c31;
    width: 75%;
    border-radius: 5%;
    position: relative;
    right:31%

}
.waitress {
    width: 50%;
    height: 50%;
    background-image: url('src/assets/images/waiter hand.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 40%;
    left: 16%;
    opacity: 80%;
    

}


.scroll-main-img:hover {

    box-shadow: 0px 0px 10px 8px  #c99c31;
  }
    
h1, p, h2, h3 {
    font-family: cursive;
   
}
p {
    font-size: 1.2rem;
}
h1 {
    font-size: 5rem;
}

.create-drink-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 2;
}

.create-drink-box p{
    background-clip:padding-box;
   -webkit-background-clip:text;
   color: transparent;
   background-image: url('src/assets/images/photo-1589517628174-5698bcf47311.avif');
   background-size:400px 150px;
   background-repeat: no-repeat;

}

.text-box {
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    color: #c99c31;

}

.image-box {
    width: 40%;
    height: 70%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255);
    transition: 0.5s;
    background-image: url('src/assets/images/pylyp-sukhenko-Sr3bhcYqftA-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
    

}
  

.image-box:hover {
    box-shadow: 0 8px 16px 0 rgb(255, 255, 255);
  }


  .logo {
    position: absolute;
    width: 400px;
    height: 450px;
    top: 80px;
    left: 70%;

    background-image: url('src/assets/images/A&H Drinks (1).png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 15px 25px 25px 40px black inset;
    border-radius: 30%; 

} 

.create-button {
   

    background-color: black;
    border-radius: 10%;
    font-size: 1em;
    height: 30px;
    width: 100px;
    border-color: #c99c31;
    color: #c99c31;
    transition: 0.5s;

}
.create-button:hover {
    box-shadow: 0px 0px 2px 2px white ;
    color: white;

}


