<nav [ngClass]="{'dark-theme': darkMode$ | async }">
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          >Home</a
        >
      </li>
      <li><a routerLink="cocktails/create" routerLinkActive="active">Create</a></li>
      <li><a routerLink="cocktails/cocktails" routerLinkActive="active">Cocktails</a></li>
      <li><a routerLink="cocktails/favourites" routerLinkActive="active">Favourites</a></li>
     
      <mat-slide-toggle [ngClass]="{'btn': true, 'dark-btn': darkMode$ | async}" (toggleChange)="switchMode()" ><span *ngIf="darkMode$ | async">Light</span> <span *ngIf="!(darkMode$ | async)">Dark</span><span> Mode</span></mat-slide-toggle>
    </ul>
  </nav>
  