<nav>
    <ul>
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          >Home</a
        >
      </li>
      <li><a routerLink="/posts" routerLinkActive="active">Cocktails</a></li>
      <li><a routerLink="/create" routerLinkActive="active">Create</a></li>
      <li><a routerLink="/cocktails" routerLinkActive="active">Cocktails</a></li>
      <li><a routerLink="/favourites" routerLinkActive="active">Favourites</a></li>
    </ul>
  </nav>
  