<!-- <section [ngClass]="{'dark-theme': darkMode$ | async}"> -->
    <div  *ngIf="drink$ | async as drink">
      <a [routerLink]="['cocktail', drink.id]">
        <h2>{{ drink.name }}</h2>
        <img [src]="drink.image" [alt]="drink.name">
      </a>
      <h3>Ingredients:</h3>
      <ul>
        <li *ngFor="let ing of drink.ingredients, index as i">{{ing}} - {{drink.measures[i]}}</li>
      </ul>

      <h3>Instructions:</h3>
      <p>{{drink.instructions}}</p>
      <p></p>
      <div *ngIf="drink.editable">
        <button>Edit</button>
        <button>Delete</button>
      </div>
      <div class="example-button-container">
        <button mat-fab color="primary" (click)="deleteDrink()" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <button (click)="edit(drink.id)">Edit</button>
      
      
      
      <!-- <a class="back-btn" [routerLink]="['']">Back</a> -->
    </div>
  <!-- </section> -->