/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 80%; }

body { margin: 0; font-family:sans-serif; margin: auto; justify-content: center;}



